* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba($color: #ecf1f8, $alpha: 0.4);
  mix-blend-mode: normal;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 16px;
  color: $primary-font-color;
}

svg {
  rect {
    transition: 200ms;
  }
}

.rounded {
  width: 24px;
  height: 24px;
  background: #b2b3bb;
  border-radius: 50%;
}
.fs-xxl {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;

  @media (max-width: 374px) {
    font-size: 25px;
  }
}
.fs-b {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */

  color: #3e3f58;
}

.fs-m {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.5px;
  color: #3e3f58;
}

b {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
}

.mr-30 {
  margin-right: 30px;
}
.mr-7 {
  margin-right: 7px;
}
.ml-30 {
  margin-left: 30px;
}

.container {
  max-width: 1175px;
  width: 100%;
  // padding: 0 15px;
  margin: 0 auto;
}
