$primary-font-color: #3e3f58;
$secondary-font-color: #3e4056;
$main-gradient: linear-gradient(
  135deg,
  #ff974f 0%,
  #e32c75 100%
);
$main-gradient-hover: linear-gradient(
  45deg,
  #ff974f 0%,
  #e32c75 100%
);

$white: #ffffff;
$red: #ed5267;
$gray: #ccc;
