/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/open-sans/open-sans-v18-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/open-sans/open-sans-v18-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/open-sans/open-sans-v18-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/open-sans/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/open-sans/open-sans-v18-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/open-sans/open-sans-v18-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/open-sans/open-sans-v18-latin-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/open-sans/open-sans-v18-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/open-sans/open-sans-v18-latin-600.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/montserrat/montserrat-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/montserrat/montserrat-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/montserrat/montserrat-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/montserrat/montserrat-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/montserrat/montserrat-v15-latin-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/montserrat/montserrat-v15-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/montserrat/montserrat-v15-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/montserrat/montserrat-v15-latin-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/montserrat/montserrat-v15-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/montserrat/montserrat-v15-latin-600.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
