.main-padding {
  padding: 0 15px;
}

.header {
  height: 112px;
  padding-top: 20px;
  background: $white;
  @include box-shadow(
    0,
    0,
    12px,
    12px,
    rgba(0, 0, 0, 0.06)
  );
  @media (max-width: 381px) {
    height: 150px;
  }
  & > .container {
    @include display-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: 1200px) {
      padding: 0 15px;
    }
    @media (max-width: 992px) {
      padding: 0 15px;
    }
    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }
  &__logo {
    @include display-flex;
    align-items: center;
    @media (max-width: 767px) {
      padding-top: 9px;
    }

    @media (max-width: 374px) {
      padding-top: 9px;
      padding-right: 15px;
    }
  }
  &__profile {
    @include display-flex;
    align-items: center;

    &-icons {
      display: inherit;
    }

    &-icon {
      cursor: pointer;

      &:hover svg {
        rect {
          opacity: 1;
        }
      }
    }

    &-image {
      @include display-flex;
      margin-left: 20px;
      margin-right: 11px;
      @media (max-width: 374px) {
        margin-left: 10px;
      }
    }

    &-arrow {
      margin-right: 18px;
    }

    &-text {
      letter-spacing: -0.5px;
      line-height: 125%;
    }
  }

  &__nav {
    width: 100%;
    padding-top: 12px;
  }

  &__lists {
    @include display-flex;
    list-style: none;
  }

  &__list {
    margin-right: 36px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      position: relative;
      & > a {
        color: rgba($secondary-font-color, 1);
      }
      &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        top: 38px;
        background: $main-gradient;
      }
    }
  }

  &__item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    // font-size: 0.875rem;
    @include calcRem(14px);
    color: rgba($secondary-font-color, 0.6);
    @include transition;
    &:hover {
      color: rgba($secondary-font-color, 1);
    }
  }
}
