@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($value: 50%) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin transition($value: 200ms) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
}

@mixin calcRem($size) {
  font-size: ($size / 16px) * 1rem;
}
//box-shadow
@mixin box-shadow(
  $top,
  $left,
  $blur,
  $spread,
  $color,
  $inset: false
) {
  @if $inset {
    -webkit-box-shadow: inset
      $top
      $left
      $blur
      $spread
      $color;
    -moz-box-shadow: inset $top $left $blur $spread $color;
    box-shadow: inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $spread $blur $color;
    -moz-box-shadow: $top $left $spread $blur $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
