:root {
  --width-button: 64px;
  --height-button: 64px;

  @media (max-width: 381px) {
    --width-button: 32px;
    --height-button: 32px;
  }
}

.new-post {
  cursor: pointer;
  position: absolute;
  @include flex-center;
  width: var(--width-button);
  height: var(--height-button);
  right: 0;
  top: 60px;
  @include border-radius;
  background: $main-gradient;
  @include transition;

  &:hover {
    background: $main-gradient-hover;
  }

  @media (max-width: 381px) {
    top: 114px;
    right: 15px;
  }
}
