.switcher {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  & > input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray;
    // transition: 0.4s;
    @include transition(0.4s);

    &:before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 1px;
      bottom: 3px;
      background-color: $white;
      @include transition(0.4s);
    }
  }
  input:checked + .slider {
    background: $red;
  }

  input:focus + .slider {
    // box-shadow: 0 0 1px #ed5267;
    @include box-shadow(0, 0, 0, 1px, $red);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    transform: translateX(18px);
  }
  /* Rounded sliders */
  .slider.round {
    @include border-radius(34px);
  }

  .slider.round:before {
    @include border-radius;
  }
}

.switch__box {
  @include display-flex;
  @include border-radius;
  font-weight: 600;
  color: $secondary-font-color;
  padding: 0 14px;

  @media (max-width: 992px) {
    max-width: 374px;
    margin-left: auto;
    padding: 0;
  }

  @media (max-width: 767px) {
    padding: 20px 0 0;
    margin: 0;
  }
}
