/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans/open-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"), url("../assets/fonts/open-sans/open-sans-v18-latin-regular.woff") format("woff"), url("../assets/fonts/open-sans/open-sans-v18-latin-regular.ttf") format("truetype"), url("../assets/fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/open-sans/open-sans-v18-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans/open-sans-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/open-sans-v18-latin-600.woff2") format("woff2"), url("../assets/fonts/open-sans/open-sans-v18-latin-600.woff") format("woff"), url("../assets/fonts/open-sans/open-sans-v18-latin-600.ttf") format("truetype"), url("../assets/fonts/open-sans/open-sans-v18-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-v15-latin-regular.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-v15-latin-regular.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-v15-latin-regular.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-v15-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/montserrat/montserrat-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat/montserrat-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-v15-latin-600.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-v15-latin-600.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-v15-latin-600.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-v15-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgba(236, 241, 248, 0.4);
  mix-blend-mode: normal;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 16px;
  color: #3e3f58;
}

svg rect {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.rounded {
  width: 24px;
  height: 24px;
  background: #b2b3bb;
  border-radius: 50%;
}

.fs-xxl {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

@media (max-width: 374px) {
  .fs-xxl {
    font-size: 25px;
  }
}

.fs-b {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */
  color: #3e3f58;
}

.fs-m {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.5px;
  color: #3e3f58;
}

b {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
}

.mr-30 {
  margin-right: 30px;
}

.mr-7 {
  margin-right: 7px;
}

.ml-30 {
  margin-left: 30px;
}

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}

.main-padding {
  padding: 0 15px;
}

.header {
  height: 112px;
  padding-top: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.06);
}

@media (max-width: 381px) {
  .header {
    height: 150px;
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media (max-width: 1200px) {
  .header > .container {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .header > .container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .header > .container {
    padding: 0 15px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__logo {
    padding-top: 9px;
  }
}

@media (max-width: 374px) {
  .header__logo {
    padding-top: 9px;
    padding-right: 15px;
  }
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile-icons {
  display: inherit;
}

.header__profile-icon {
  cursor: pointer;
}

.header__profile-icon:hover svg rect {
  opacity: 1;
}

.header__profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-right: 11px;
}

@media (max-width: 374px) {
  .header__profile-image {
    margin-left: 10px;
  }
}

.header__profile-arrow {
  margin-right: 18px;
}

.header__profile-text {
  letter-spacing: -0.5px;
  line-height: 125%;
}

.header__nav {
  width: 100%;
  padding-top: 12px;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list {
  margin-right: 36px;
}

.header__list:last-child {
  margin-right: 0;
}

.header__list.active {
  position: relative;
}

.header__list.active > a {
  color: #3e4056;
}

.header__list.active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  top: 38px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
}

.header__item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  color: rgba(62, 64, 86, 0.6);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.header__item:hover {
  color: #3e4056;
}

.user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  width: auto;
  white-space: nowrap;
}

.user-link__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.user-link__icon.mr-7 {
  margin-right: 7px;
}

.user-link--red {
  color: #f05d63;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.user-link--red:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.user-link--black {
  color: #3e4056;
  font-weight: 600;
}

.user-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.user-dropdown__icon {
  position: relative;
  right: -24px;
  top: 3px;
  display: block;
  cursor: pointer;
}

.user-dropdown__icon:hover + .user-dropdown__content {
  opacity: 1;
  visibility: visible;
}

.user-dropdown__content {
  opacity: 0;
  visibility: hidden;
  max-width: 176px;
  width: 176px;
  position: absolute;
  right: 0;
  left: calc(100% - -3%);
  top: 43px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.94;
  -webkit-backdrop-filter: blur(21.7463px);
  backdrop-filter: blur(21.7463px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 24px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.user-dropdown__content:hover {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .user-dropdown__content {
    left: 0;
  }
}

.user-dropdown .item {
  padding: 8px 23px;
}

.user-dropdown .item:hover {
  background: rgba(236, 241, 248, 0.6);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(54.3656px);
  backdrop-filter: blur(54.3656px);
  /* Note: backdrop-filter has minimal browser support */
}

.user-dropdown + .user-text {
  margin-bottom: 18px;
  margin-top: 9px;
}

.user {
  padding-top: 72px;
}

.user > .grid.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(350px, 300px) 8fr;
  grid-template-columns: minmax(350px, 300px) 8fr;
}

@media (max-width: 1200px) {
  .user > .grid.container {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .user > .grid.container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .user > .grid.container {
    -ms-grid-columns: 12fr;
    grid-template-columns: 12fr;
    padding: 0 15px;
  }
}

.user-detail {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .user-detail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 374px) {
  .user-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-detail__box {
  padding: 0px 19px 20px 25px;
}

@media (max-width: 374px) {
  .user-detail__box {
    padding: 20px 0px;
  }
}

.user-info {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-bottom: 12px;
  padding: 0 4px;
}

@media (max-width: 767px) {
  .user-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 374px) {
  .user-info {
    padding: 0;
  }
}

.user-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 48px;
}

.user-info__item:last-child {
  margin-right: 0;
}

.user-info + .user-text {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 16px;
  line-height: 150%;
}

.user-posts {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
  margin-left: 45px;
  padding: 0 4px;
}

@media (max-width: 1200px) {
  .user-posts {
    margin-left: 25px;
  }
}

@media (max-width: 992px) {
  .user-posts {
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .user-posts {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 4;
    margin-left: 0;
    padding: 0;
  }
}

.user-posts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .user-posts__cards {
    margin-top: 30px;
  }
}

.user-posts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 374px;
  min-width: 280px;
  width: 100%;
  min-height: 280px;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
}

@media (max-width: 1200px) {
  .user-posts__card {
    margin-left: auto;
    width: 47%;
  }
}

@media (max-width: 992px) {
  .user-posts__card {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .user-posts__card {
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 14px;
  }
}

.user-posts__card:nth-child(even) {
  margin-left: auto;
}

@media (max-width: 992px) {
  .user-posts__card:nth-child(even) {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .user-posts__card:nth-child(even) {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.user-posts__text {
  font-style: normal;
  color: #3e4056;
}

.user-posts__share {
  cursor: pointer;
  color: #f05d63;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.user-posts__share:hover {
  font-weight: 600;
}

.user-posts__shared {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 374px) {
  .user-posts__shared {
    font-size: 14px;
  }
}

.user-posts__shared img {
  margin-right: 4px;
}

.user-posts__shared .add-three-dots {
  display: inline-block;
  width: 247px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ecf1f8;
  border-radius: 6px;
  padding: 3px 5px 5px 4px;
  line-height: 16px;
  margin-left: auto;
  /* identical to box height, or 100% */
  color: #3e4056;
}

@media (max-width: 390px) {
  .user-posts__shared .add-three-dots {
    width: 176px;
  }
}

.user-posts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.user-posts__shared + .user-posts__text {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .user-posts__shared + .user-posts__text {
    margin-top: auto;
  }
}

.user-posts__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-posts__author > .user-posts__text {
  font-weight: 600;
  font-size: 14px;
}

.user-posts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-posts__listen, .user-posts__likes {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 16px;
  border-bottom: 1px dashed transparent;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.user-posts__listen svg, .user-posts__likes svg {
  margin-right: 8px;
}

.user-posts__listen:last-child, .user-posts__likes:last-child {
  margin-right: 0;
}

.user-posts__listen:last-child:hover, .user-posts__likes:last-child:hover {
  border-bottom: 1px dashed #f05d63;
}

.user-posts__listen:hover, .user-posts__likes:hover {
  border-bottom: 1px dashed #343434;
}

.switcher {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  /* Rounded sliders */
}

.switcher > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.switcher > .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.switcher input:checked + .slider {
  background: #ed5267;
}

.switcher input:focus + .slider {
  -webkit-box-shadow: 0 0 1px 0 #ed5267;
  box-shadow: 0 0 0 1px #ed5267;
}

.switcher input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

.switcher .slider.round {
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}

.switcher .slider.round:before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.switch__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 600;
  color: #3e4056;
  padding: 0 14px;
}

@media (max-width: 992px) {
  .switch__box {
    max-width: 374px;
    margin-left: auto;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .switch__box {
    padding: 20px 0 0;
    margin: 0;
  }
}

:root {
  --width-button: 64px;
  --height-button: 64px;
}

@media (max-width: 381px) {
  :root {
    --width-button: 32px;
    --height-button: 32px;
  }
}

.new-post {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--width-button);
  height: var(--height-button);
  right: 0;
  top: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.new-post:hover {
  background: linear-gradient(45deg, #ff974f 0%, #e32c75 100%);
}

@media (max-width: 381px) {
  .new-post {
    top: 114px;
    right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */