.user {
  padding-top: 72px;

  & > .grid.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(350px, 300px) 8fr;
    grid-template-columns: minmax(350px, 300px) 8fr;
    // grid-column-gap: 40px;

    @media (max-width: 1200px) {
      padding: 0 15px;
    }

    @media (max-width: 992px) {
      padding: 0 15px;
    }

    @media (max-width: 767px) {
      -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
      padding: 0 15px;
      // will be applied to element above width $bp-small
    }
  }

  &-detail {
    -ms-grid-column: 1;
    grid-column: 1;
    display: flex;

    @media (max-width: 767px) {
      justify-content: center;
    }

    @media (max-width: 374px) {
      flex-direction: column;
    }

    &__box {
      padding: 0px 19px 20px 25px;
      @media (max-width: 374px) {
        padding: 20px 0px;
      }
    }
  }

  &-info {
    -ms-grid-column: 1;
    -ms-grid-row: 2;

    grid-column: 1;
    display: flex;
    margin-top: 13px;
    margin-bottom: 12px;
    padding: 0 4px;

    @media (max-width: 767px) {
      justify-content: center;
    }
    @media (max-width: 374px) {
      padding: 0;
    }
    &__box {
      display: flex;
    }

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-right: 48px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-info + &-text {
    -ms-grid-column: 1;
    -ms-grid-row: 3;

    grid-column: 1;
    margin-top: 16px;
    line-height: 150%;
  }

  &-posts {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
    margin-left: 45px;
    padding: 0 4px;

    @media (max-width: 1200px) {
      margin-left: 25px;
    }

    @media (max-width: 992px) {
      margin-left: 25px;
    }

    @media (max-width: 767px) {
      -ms-grid-column: 1;
      grid-column: 1;
      // -ms-grid-row: 1;
      grid-row-start: 4;
      -ms-grid-row-span: 4;
      margin-left: 0;
      padding: 0;
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 374px;
      min-width: 280px;
      width: 100%;
      min-height: 280px;
      border-radius: 8px;
      padding: 24px;
      margin-bottom: 24px;
      background: rgba($color: #fff, $alpha: 0.5);
      mix-blend-mode: normal;

      box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
      border-radius: 14px;

      @media (max-width: 1200px) {
        margin-left: auto;
        width: 47%;
      }
      @media (max-width: 992px) {
        max-width: 100%;
        width: 100%;
      }
      @media (max-width: 767px) {
        margin: 0 auto;
        margin-bottom: 24px;
        padding: 14px;
      }
    }

    &__card:nth-child(even) {
      margin-left: auto;
      @media (max-width: 992px) {
        margin-left: auto;
      }
      @media (max-width: 767px) {
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 24px;
      }
    }

    &__text {
      font-style: normal;
      color: $secondary-font-color;
    }
    &__share {
      cursor: pointer;
      color: #f05d63;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: right;
      transition: 200ms;
      &:hover {
        font-weight: 600;
      }
    }
    &__shared {
      display: flex;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 374px) {
        font-size: 14px;
      }

      img {
        margin-right: 4px;
      }

      .add-three-dots {
        display: inline-block;
        width: 247px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #ecf1f8;
        border-radius: 6px;
        padding: 3px 5px 5px 4px;
        line-height: 16px;
        margin-left: auto;
        /* identical to box height, or 100% */
        color: #3e4056;

        @media (max-width: 390px) {
          width: 176px;
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 44px;
    }
    &__shared + &__text {
      margin-top: 10px;

      @media (max-width: 767px) {
        margin-top: auto;
      }
    }
    &__author {
      display: flex;
      align-items: center;
    }

    &__author > &__text {
      font-weight: 600;
      font-size: 14px;
    }

    &__box {
      display: flex;
    }
    &__listen,
    &__likes {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      margin-right: 16px;
      border-bottom: 1px dashed transparent;
      transition: 200ms;

      svg {
        margin-right: 8px;
      }
      &:last-child {
        margin-right: 0;
        &:hover {
          border-bottom: 1px dashed #f05d63;
        }
      }
      &:hover {
        border-bottom: 1px dashed #343434;
      }
    }
  }
}
