.user {
  &-dropdown {
    @include display-flex;
    position: relative;

    &__icon {
      position: relative;
      right: -24px;
      top: 3px;
      display: block;
      cursor: pointer;
    }

    &__icon:hover + &__content {
      opacity: 1;
      visibility: visible;
    }

    &__content {
      opacity: 0;
      visibility: hidden;
      max-width: 176px;
      width: 176px;
      position: absolute;
      right: 0;
      left: calc(100% - -3%);
      top: 43px;
      background: $white;
      mix-blend-mode: normal;
      opacity: 0.94;
      -webkit-backdrop-filter: blur(21.7463px);
      backdrop-filter: blur(21.7463px);
      /* Note: backdrop-filter has minimal browser support */
      padding: 24px 0;
      @include border-radius(8px);
      &:hover {
        opacity: 1;
        visibility: visible;
      }
      @media (max-width: 767px) {
        left: 0;
      }
    }

    .item {
      padding: 8px 23px;

      &:hover {
        background: rgba(#ecf1f8, 0.6);
        mix-blend-mode: normal;
        -webkit-backdrop-filter: blur(54.3656px);
        backdrop-filter: blur(54.3656px);
        /* Note: backdrop-filter has minimal browser support */
      }
    }
  }

  &-dropdown + &-text {
    margin-bottom: 18px;
    margin-top: 9px;
  }
}
