.user-link {
  display: flex;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  width: auto;
  white-space: nowrap;

  &__icon {
    display: flex;
    margin-right: 16px;
    &.mr-7 {
      margin-right: 7px;
    }
  }

  &--red {
    color: #f05d63;
    text-decoration-line: underline;

    &:hover {
      text-decoration-line: none;
      -moz-text-decoration-line: none;
    }
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
  }

  &--black {
    color: #3e4056;
    font-weight: 600;
  }
}
